body { background-color: #333333; }

div.container {
    background-color: white;
    margin-top: 8px;
    border: 1px solid black;
}

#head {
    background-color: lightgray;
    font-weight: bold;
}

#logo img { border: 1px solid black; max-width: 72px;}

#title {
    padding-left: 12px;
    vertical-align: bottom;
}

#content { margin: 8px 8px; text-align: justify; }

#footer {
    background-color: #337298;
    padding: 8px 0px;
    text-align: center;
    font-size: 10px;
}

/** Navigation menu setup **/

nav.navbar {
    min-height: 34px;
    margin-bottom: 0px;
    border-color: black;
}

nav.navbar div.navbar-nav {
    background-color: #666666;
    padding: 6px 0px;
    width: 100%;
    margin:0px;
}

/** Navigation customization **/

nav.navbar a {
    color: white;
    text-decoration: none;
}

nav.navbar a:hover:not(.active) {
    color: lightgray;
    background-color: #444444;
}

nav.navbar a.nav-item { padding: 8px 16px; }

nav.navbar a.active {
    background-color: #337298;
}

nav div ul{
    margin:0;
    padding: 0;
}

nav div ul li {
    float:left;
    list-style-type: none;
    
}

/** Small devices (landscape phones, less than 575px)**/

@media only screen and (max-width: 400px) {
    nav div ul li {
        float: none;
        margin-top: 4px;
        margin-bottom: 4px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
    }

    nav div br {
         display: none;
    }
}