<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Imports -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <link rel="stylesheet" href="/main.css">
    <link rel="icon" href="/img/tophat-eevee.ico">
	
    <title> Eevil Chess Homepage </title>
    <style>
    </style>
  </head>
  
  <body>
    <div class="container">
      <!-- Header -->
      <div class="row" id="head">
        <table>
          <tr>
            <td id="logo"> <img src="/img/tophat-eevee.gif" /> </td>
            <td id="title"><h1> Eevil Chess </h1></td>
          </tr>
        </table>
      </div>

      <!-- Navigation bar -->
      <nav class="row navbar navbar-expand-lg navbar-light">
        <div class="navbar-nav">
          <ul>
            <li><a class="nav-item nav-link" href="./index.html"> Home </a></li>
            <li><a class="nav-item nav-link" href="./create-account.html"> Create Account </a></li>
            <li><a class="nav-item nav-link" href="./login.html">Login</a></li>
            <li><a class="nav-item nav-link" href="./profile.html">Profile</a></li>
            <li><a class="nav-item nav-link" href="./start-game.html">Start Game</a></li>
            <li><a class="nav-item nav-link active" href="./play-game.html">Play Game</a></li>
          </ul>
          <br style="clear:both;" />
        </div>
      </nav>

      <div class="board">
        <div v-for="col in cols + 1"></div>
        <template v-for="row in rows">
          <row :rowcode="row"></row>
          <tile v-for="col in cols" :colorcode="row % 2 === 0 ? col % 2 + 1 : (col + 1) % 2 + 1" :tilecode="String.fromCharCode(col + 64) + row" :imgpath=getImage(row,col)></tile>
        </template>
        <div></div>
        <col-labels v-for="col in cols" :colcode="String.fromCharCode(col + 64)"></col-labels>

      </div>

      <!-- Footer -->
      <div class="row" id="footer">
        &copy Team Eevee <br />
        <i>Made for CSCI-4230: Software Engineering II </i>
      </div>
    </div>
  </body>
</html>

<script>
  Vue.component('tile', {
    props: ['tilecode', 'colorcode', 'imgpath'],
    methods: {
      setColor(colorcode) {
        if(colorcode % 2 === 0) {
          return "tile2";
        } else {
          return "tile1";
        }
      },
      setID(tilecode) {
        return this.tilecode;
      },
      handleTileClick(tilecode) {
        alert('Hello, from tile ' + tilecode)
      },
    },
template: '<div  :class=setColor(colorcode) :id=setID(tilecode) @click=handleTileClick(tilecode)><img :src=imgpath class="center"></div>'
  });

  Vue.component('row', {
    props: ['rowcode'],
    methods: {

    },
    template: '<div>{{rowcode}}</div>'
  });

  Vue.component('col-labels', {
    props: ['colcode'],
    methods: {

    },
    template: '<div>{{ colcode }}</div>'
  });

  var app = new Vue({
    el: ".board",
    data: {
      rows: 8,
      cols: 8,
      tiles: [
        { id: "A1", occupied: { piece: "/img/black_bishop.png", paths: [] }},
        { id: "A2", occupied: { piece: "/img/black_bishop.png", paths: [] }},
        { id: "A3", occupied: { piece: "", paths: [] }},
        { id: "A4", occupied: { piece: "", paths: [] }},
        { id: "A5", occupied: { piece: "", paths: [] }},
        { id: "A6", occupied: { piece: "", paths: [] }},
        { id: "A7", occupied: { piece: "/img/white_pawn.png", paths: [] }},
        { id: "A8", occupied: { piece: "/img/white_knight.png", paths: [] }},
        { id: "B1", occupied: { piece: "/img/black_rook.png", paths: [] }},
        { id: "B2", occupied: { piece: "/img/black_bishop.png", paths: [] }},
        { id: "B3", occupied: { piece: "", paths: [] }},
        { id: "B4", occupied: { piece: "", paths: [] }},
        { id: "B5", occupied: { piece: "", paths: [] }},
        { id: "B6", occupied: { piece: "", paths: [] }},
        { id: "B7", occupied: { piece: "/img/white_knight.png", paths: [] }},
        { id: "B8", occupied: { piece: "/img/white_queen.png", paths: [] }},
        { id: "C1", occupied: { piece: "/img/black_queen.png", paths: [] }},
        { id: "C2", occupied: { piece: "/img/black_pawn.png", paths: [] }},
        { id: "C3", occupied: { piece: "", paths: [] }},
        { id: "C4", occupied: { piece: "", paths: [] }},
        { id: "C5", occupied: { piece: "", paths: [] }},
        { id: "C6", occupied: { piece: "", paths: [] }},
        { id: "C7", occupied: { piece: "/img/white_pawn.png", paths: [] }},
        { id: "C8", occupied: { piece: "/img/white_pawn.png", paths: [] }},
        { id: "D1", occupied: { piece: "/img/black_queen.png", paths: [] }},
        { id: "D2", occupied: { piece: "/img/black_bishop.png", paths: [] }},
        { id: "D3", occupied: { piece: "", paths: [] }},
        { id: "D4", occupied: { piece: "", paths: [] }},
        { id: "D5", occupied: { piece: "", paths: [] }},
        { id: "D6", occupied: { piece: "", paths: [] }},
        { id: "D7", occupied: { piece: "/img/white_bishop.png", paths: [] }},
        { id: "D8", occupied: { piece: "/img/white_king.png", paths: [] }},
        { id: "E1", occupied: { piece: "/img/black_king.png", paths: [] }},
        { id: "E2", occupied: { piece: "/img/black_knight.png", paths: [] }},
        { id: "E3", occupied: { piece: "", paths: [] }},
        { id: "E4", occupied: { piece: "", paths: [] }},
        { id: "E5", occupied: { piece: "", paths: [] }},
        { id: "E6", occupied: { piece: "", paths: [] }},
        { id: "E7", occupied: { piece: "/img/white_queen.png", paths: [] }},
        { id: "E8", occupied: { piece: "/img/white_queen.png", paths: [] }},
        { id: "F1", occupied: { piece: "/img/black_knight.png", paths: [] }},
        { id: "F2", occupied: { piece: "/img/black_pawn.png", paths: [] }},
        { id: "F3", occupied: { piece: "", paths: [] }},
        { id: "F4", occupied: { piece: "", paths: [] }},
        { id: "F5", occupied: { piece: "", paths: [] }},
        { id: "F6", occupied: { piece: "", paths: [] }},
        { id: "F7", occupied: { piece: "/img/white_knight.png", paths: [] }},
        { id: "F8", occupied: { piece: "/img/white_rook.png", paths: [] }},
        { id: "G1", occupied: { piece: "/img/black_rook.png", paths: [] }},
        { id: "G2", occupied: { piece: "/img/black_pawn.png", paths: [] }},
        { id: "G3", occupied: { piece: "", paths: [] }},
        { id: "G4", occupied: { piece: "", paths: [] }},
        { id: "G5", occupied: { piece: "", paths: [] }},
        { id: "G6", occupied: { piece: "", paths: [] }},
        { id: "G7", occupied: { piece: "/img/white_knight.png", paths: [] }},
        { id: "G8", occupied: { piece: "/img/white_rook.png", paths: [] }},
        { id: "H1", occupied: { piece: "/img/black_pawn.png", paths: [] }},
        { id: "H2", occupied: { piece: "/img/black_pawn.png", paths: [] }},
        { id: "H3", occupied: { piece: "", paths: [] }},
        { id: "H4", occupied: { piece: "", paths: [] }},
        { id: "H5", occupied: { piece: "", paths: [] }},
        { id: "H6", occupied: { piece: "", paths: [] }},
        { id: "H7", occupied: { piece: "/img/white_pawn.png", paths: [] }},
        { id: "H8", occupied: { piece: "/img/white_queen.png", paths: [] }},
      ],
    },
    methods: {
      stuff(tilecode) {
        return "./img/black_bishop.png";
      },
      getImage(row, col) {
        var tilecode = String.fromCharCode(col + 64) + row;
        for(var i = 0; i < this.tiles.length; i++) {
          if(this.tiles[i].id === tilecode) {
            return this.tiles[i].occupied.piece;
          }
        }
        return "";
      },
    }
  });


</script>

<style scoped>
  .board {
    margin: 0 auto;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(50px, auto);
  }

  .tile1 {
    border: 1px solid #333;
    background-color: #666666;
  }

  .tile2 {
    border: 1px solid #333;
    background-color: #337298;
  }

  .center {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
  }

  .highlight {
    background-color: green;
  }
</style>